/* * {
  cursor: none;
} */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f7f7f7;
}

#content {
  padding: 1em;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  /* display: flex; */
  box-sizing: border-box;
}

#bg {
  display: flex;
  margin: 0 1em;
}

/* .cursor {
  width: 2rem;
  height: 2rem;
  border: 1px solid black;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 999;
}

.dot {
  height: 3px;
  width: 3px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  background: #000;
} */

.slant {
  width: 25%;
  height: 100vh;
  display: inline-flex;
  /* background: #f1f1f1; */
  clip-path: polygon(100% 0, 50% 50%, 0% 100%, 0 0%);
  min-height: 1000px;
  /* animation: slantAnimate 1s ease-in-out .3s forwards; */
}


.slant:nth-child(1) {
  animation: slantAnimate .5s ease-in-out 0s forwards;
}
.slant:nth-child(2) {
  animation: slantAnimate .5s ease-in-out .8s forwards;
}
.slant:nth-child(3) {
  animation: slantAnimate .5s ease-in-out 1.2s forwards;
}
.slant:nth-child(4) {
  animation: slantAnimate .5s ease-in-out 1.6s forwards;
}


.group {
  width: 25%;
  display: inline-block;
  vertical-align: top;
}

h1 {
  font-size: 6em;
  font-weight: 800;
  letter-spacing: -2px;
  line-height: 80%;
}

p {
  margin: 0.3em 0;
  font-size: 20px;
}

.group:nth-child(2),
.group:nth-child(3),
.group:nth-child(4)
{
  margin-top: 250px;
  opacity: 0;
  /* animation: bgAnimate 5s forwards; */
}

svg {
  margin: 65px 0;
}

.group:nth-child(1) {
  opacity: 0;
  animation: contactAnimate 1s ease-in-out .1s forwards;
}

.group:nth-child(2)
{
  animation: bgAnimate .5s ease-in-out 1s forwards;
}


.group:nth-child(3)
{
  animation: bgAnimate .5s ease-in-out 1.4s forwards;
}

.group:nth-child(4)
{
  animation: bgAnimate .5s ease-in-out 1.8s forwards;
}


p a {
  color: inherit;
  display: inline-block;
  position: relative;
  text-decoration: none;
}


p a:after {
  background: #000;
  content: "";
  height: 1.5px;
  left: 0;
  position: absolute;
  top: 100%;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transform-origin: left;
  transform-origin: left;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s,-webkit-transform .5s;
  width: 100%;
}

p a:hover:after {
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: right;
  transform-origin: right;
}

p a img {
  width: 14px;
  display: inline-block;
  margin-left: 5px;
  transition: .2s ease;
}

p b a:after {
  content: none;
}

p b a:hover img{
  margin-left: 10px;
  transition: .2s ease;
}

.contact {
  margin-left: 25%;
  margin-top: 150px;
  opacity: 0;
  animation: contactAnimate .5s ease-in-out 2.5s forwards;
}


@media screen and (max-width: 1500px) {
  .group:nth-child(1) {
    display: block;
  }
  .group {
    width: 33.3333333333%;
  }
  .slant {
    width: 33.3333333333%;
  }
  .slant:nth-child(4) {
    display: none;
  }
  .group:nth-child(2),
  .group:nth-child(3),
  .group:nth-child(4) {
    margin-top: 50px;
  }
  .contact {
    margin-left: 0%;
  }
}

@media screen and (max-width: 1133.3333px) {

  .group {
    width: 50%;
  }
  .slant {
    width: 50%;
  }
  .slant:nth-child(3) {
    display: none;
  }

  .contact {
    margin-left: 0%;
    margin-top: 50px;
    text-align: right;
  }

}


@media screen and (max-width: 765px) {

  .group:nth-child(1) {
    width: 300px;
  }
  .group {
    width: 100%;
  }
  .slant {
    width: 100%;
  }
  .slant:nth-child(2) {
    display: none;
  }
  h1 {
    font-size: 4em;
    margin: 20px 0;
  }
  p {
    font-size: 16px;
  }
  svg {
    margin: 0px 0;
    width: 250px;
  }

}


@keyframes bgAnimate {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes contactAnimate {
  0% {
    opacity: 0;
    /* transform: translateY(20px); */
  }

  100% {
    opacity: 1;
    /* transform: translateY(0); */

  }
}


@keyframes slantAnimate {
  0% {
    opacity: 0;
    background: #f1f1f1;
    /* clip-path: polygon(0% 0, 0% 50%, 0% 100%, 0 0%); */
  }
  100% {
    opacity: 1;
    background: #f1f1f1;

    /* background: #f1f1f1;
    clip-path: polygon(100% 0, 50% 50%, 0% 100%, 0 0%); */
  }
}